{% extends "layouts/base.html" %}

{% block title %} Credits {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
  .btn.btn-icon {
    height: 2.0rem;
    min-width: 2.0rem;
    width: 2.0rem;
  }

</style>

{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="title">Credits</h4>
      </div>
      <div class="card-body">
        <!-- <div class="card-title"></div> -->
          <h5>For providing the <span class="text-{{ current_user.ui_button }}">UI template</span>, I would like to thank:</h5>
          <div>
            <button class="btn btn-{{ current_user.ui_button }} btn-fab btn-icon btn-round" onclick="window.open('https://bit.ly/3fKQZaL');">
              <i class="tim-icons icon-heart-2"></i>
            </button>
            <a class="text-white" 
            target="_blank" rel="noopener noreferrer" 
            href="https://bit.ly/3fKQZaL">CreativeTim</a>  
          </div>

          <div>
            <button class="btn btn-{{ current_user.ui_button }} btn-fab btn-icon btn-round" onclick="window.open('https://appseed.us');">
              <i class="tim-icons icon-heart-2"></i>
            </button>
            <a class="text-white" 
            target="_blank" rel="noopener noreferrer" 
            href="https://appseed.us">AppSeed</a>   
          </div>

          <hr>

          <h5>For providing the <span class="text-{{ current_user.ui_button }}">Search Implementation</span>, I would like to thank:</h5>
          
          <div>
            <button class="btn btn-{{ current_user.ui_button }} btn-fab btn-icon btn-round" onclick="window.open('https://github.com/m-wrzr');">
              <i class="tim-icons icon-heart-2"></i>
            </button>
            <a class="text-white" 
            target="_blank" rel="noopener noreferrer" 
            href="https://github.com/m-wrzr">m-wrzr</a>   
          </div>          
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
