{% extends "layouts/base.html" %}

{% block title %} Credits {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="title">Credits</h4>
      </div>
      <div class="card-body">
        <div class="card-title">
          <h5>For providing the <span class="text-primary">UI template</span>, I would like to thank:</h5>
          <ul>
            <li>
              <a class="text-white" 
              target="_blank" rel="noopener noreferrer" 
              href="https://bit.ly/3fKQZaL">CreativeTim</a>   
            </li>  
            <li>
              <a class="text-white" 
              target="_blank" rel="noopener noreferrer" 
              href="https://appseed.us">AppSeed</a>   
            </li>            
          </ul>

          <h5>For providing the <span class="text-primary">API Library</span>, I would like to thank:</h5>
          <ul>
            <li>
              <a class="text-white" 
              target="_blank" rel="noopener noreferrer" 
              href="https://github.com/m-wrzr">m-wrzr</a>   
            </li>            
          </ul>
          </h5>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
