{% extends "layouts/base.html" %}

{% block title %} Page User {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <div class="card">

      <form role="form" method="post" action="">

      {{ form.hidden_tag() }} 

      <div class="card-header">
        <h4 class="title">Edit Profile</h4>

        <h6 class="card-category">
          {% if msg %}
            {% if success %}
            <span class="text-success">{{ msg | safe }}</span>
            {% else %} 
            <span class="text-danger">{{ msg | safe }}</span>
            {% endif %} 
          {% endif %}  
        </h6>      
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-1 pr-md-1">
            <div class="form-group">
              <label>UserID</label>
              <input type="number" class="form-control form-{{ current_user.ui_color }}" id="user_id" name="user_id" disabled="" value="{{ current_user.id }}">
            </div>
          </div>
          <div class="col-md-4 px-md-1">
            <div class="form-group">
              <label>Username</label>
              <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text form-{{current_user.ui_color}}">
                      <i class="tim-icons icon-single-02"></i>
                  </div>      
                </div>                
                <input type="text" class="form-control form-{{ current_user.ui_color }}" id="username" name="username" value="{{ current_user.username }}">
              </div>
            </div>
          </div>
          <div class="col-md-4 pl-md-1">
            <div class="form-group">
              <label>Email address</label>
              <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text form-{{current_user.ui_color}}">
                      <i class="tim-icons icon-email-85"></i>
                  </div>      
                </div> 
                <input type="email" class="form-control form-{{ current_user.ui_color }}" id="email" name="email" value="{{ current_user.email }}">
              </div>  
            </div>
          </div>            
          <div class="col-md-3 pl-md-1">
            <div class="form-group">
              <label>Password</label>
              <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text form-{{current_user.ui_color}}">
                      <i class="tim-icons icon-key-25"></i>
                  </div>      
                </div>               
                <input type="password" class="form-control form-{{ current_user.ui_color }}" id="password" name="password" placeholder="Hidden" value="">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>First Name</label>
              <input type="text" class="form-control form-{{ current_user.ui_color }}" id="first_name" name="first_name" placeholder="Company" value="{{ current_user.first_name }}">
            </div>
          </div>
          <div class="col-md-6 pl-md-1">
            <div class="form-group">
              <label>Last Name</label>
              <input type="text" class="form-control form-{{ current_user.ui_color }}" id="last_name" name="last_name" placeholder="Last Name" value="{{ current_user.last_name }}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>Address</label>
              <input type="text" class="form-control form-{{ current_user.ui_color }}" id="address" name="address" placeholder="Home Address" value="{{ current_user.address }}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label>City</label>
              <input type="text" class="form-control form-{{ current_user.ui_color }}" id="city" name="city" placeholder="City" value="{{ current_user.city }}">
            </div>
          </div>
          <div class="col-md-4 px-md-1">
            <div class="form-group">
              <label>Country</label>
              <input type="text" class="form-control form-{{ current_user.ui_color }}" id="country" name="country" placeholder="Country" value="{{ current_user.country }}">
            </div>
          </div>
          <div class="col-md-4 pl-md-1">
            <div class="form-group">
              <label>Postal Code</label>
              <input type="number" class="form-control form-{{ current_user.ui_color }}" id="zipcode" name="zipcode" value="{{ current_user.zipcode }}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label>About Me</label>
              <textarea rows="4" cols="80" class="form-control form-{{ current_user.ui_color }}" id="about_me" name="about_me" placeholder="Here is your description">{{ current_user.about_me }}</textarea>
            </div>
          </div>
        </div>
      </div>
      
      <div class="card-footer">
        <button type="submit" id="save" name="save" class="btn btn-fill btn-{{current_user.ui_button}}">Save</button>
      </div>

    </form>

    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-user">
      <div class="card-body">
        <p class="card-text">
          <div class="author">
            <div class="block block-one"></div>
            <div class="block block-two"></div>
            <div class="block block-three"></div>
            <div class="block block-four"></div>
            <a href="/page-user">
              <img class="avatar" src="/static/assets/img/emilyz.jpg" alt="My Photo">
              <h5 class="title">
                {{ current_user.username }}
              </h5>
            </a>
            <p class="description">
              {{ current_user.email }}
            </p>
          </div>
        </p>
        <div class="card-description">
          Spying on innocent places...
        </div>
      </div>
      <div class="card-footer">
        {% if current_user.premium_enabled %}
        <div class="text-center">
          <span>
            <p class="text-primary">
            <i class="tim-icons icon-money-coins"></i>
             Premium
            <i class="tim-icons icon-money-coins"></i> 
            </p>
          </span>
        </div>
        {% endif %}
        <div class="button-container">
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-facebook">
            <i class="fab fa-facebook"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-twitter">
            <i class="fab fa-twitter"></i>
          </button>
          <button href="javascript:void(0)" class="btn btn-icon btn-round btn-instagram">
            <i class="fab fa-instagram"></i>
          </button>
        </div>
      </div>
    </div>
  </div> 
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
