{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

        <div class="row">
          <div class="col-md-8">
            <div class="card">

              <form role="form" method="post" action="">
              
                <div class="card-header">
                  <h4 class="title">Register</h4>

                  <h6 class="card-category">
                      Submit your credentials
                  </h6>
                </div>

                <div class="card-body">

                    <div class="row">
                      <div class="col-md-5 px-md-1">
                        <div class="form-group">
                          <label>&nbsp;Username</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text form-{% if current_user.is_authenticated %}{{current_user.ui_color}}{% else %}blue{% endif %}">
                                  <i class="fas fa-user"></i>
                              </div>      
                            </div> 
                            <input type="text" class="form-control form-{% if current_user.is_authenticated %}{{current_user.ui_color}}{% else %}blue{% endif %}" id="username" name="username" required="" value="{{ form.username.data }}"> 
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-5 px-md-1">
                        <div class="form-group">
                          <label>&nbsp;Email</label>
                          <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text form-{% if current_user.is_authenticated %}{{current_user.ui_color}}{% else %}blue{% endif %}">
                                  <i class="fas fa-envelope"></i>
                              </div>      
                            </div>                          
                            <input type="email" class="form-control form-{% if current_user.is_authenticated %}{{current_user.ui_color}}{% else %}blue{% endif %}" id="email" name="email" required="" value="{{ form.email.data }}">
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-5 px-md-1">
                        <div class="form-group">
                          <label>&nbsp;Password</label>
                          <div class="input-group">
                            <div class="input-group-text form-{% if current_user.is_authenticated %}{{current_user.ui_color}}{% else %}blue{% endif %}">
                                <div class="input-group-text">
                                  <i class="fas fa-key"></i>
                              </div>      
                            </div>                          
                            <input type="password" class="form-control form-{% if current_user.is_authenticated %}{{current_user.ui_color}}{% else %}blue{% endif %}" id="password" name="password" required="" value="">
                          </div>
                        </div>
                      </div>
                    </div>
                    
                </div>
                <div class="card-footer">
                  <button type="submit" id="register" name="register" class="btn btn-fill btn-{% if current_user.is_authenticated %}{{current_user.ui_button}}{% else %}info{% endif %}">Register</button>
                  &nbsp; &nbsp;
                  Have an account? <a href="/login" id="pagelink" class="text-{% if current_user.is_authenticated %}{{current_user.ui_button}}{% else %}info{% endif %}">Login</a>
                </div>

              </form>

            </div>
          </div>
      </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
