{% extends "layouts/base.html" %}

{% block title %} Search Turbo {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

<link rel='stylesheet' href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css'/>

<style>
  code {
    word-break: normal
  }

  .btn.dropdown-toggle[data-toggle="dropdown"] {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: -1px;
  }

  .badge.badge-default {
    display: inline-block;
  } 
  
  .btn-group>.btn+.dropdown-toggle-split {  
    padding-left: 0px;
  } 

  .btn.btn-fill.btn-less-wide {  
    padding-right: 32px;
    padding-left: 32px;
  }  

  .modal-fix-position {
  top: -30.7vh;
  }    
</style>

{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">

      {% if current_user.premium_enabled == False and current_user.free_runs_remaining < 1 %}
      <div class="card-nav-tabs text-center">
        <div class="card-header card-header-primary">
          Warning
        </div>
        <div class="card-body">
          <h4 class="card-title">You have no free runs remaining!</h4>
          <p class="card-text">Contact me via:</p>
          <a id="contactmebutton1" target="_blank" href="mailto: spycorfu@gmail.com" class="btn btn-{{ current_user.ui_button }}">E-mail</a>          
          <a id="contactmebutton" target="_blank" href="https://github.com/spykard" class="btn btn-{{ current_user.ui_button }}">GitHub</a>
        </div>
        <div class="card-footer text-muted">
          A Strange Game. The only winning Move is not to Play. How about a nice game of Chess?
        </div>
      </div>

      {% else %}
      <form role="form" method="post" action="">

      <!-- Bug Fix: https://stackoverflow.com/a/42874365 -->
      {{ form.hidden_tag() }} 

      <div class="card-header">
        <h4 class="title">Search Settings</h4>

        <h6 class="card-category">
          {% if msg %}
            {% if success %}
            <span class="text-success">{{ msg | safe }}</span>
            {% else %} 
            <span class="text-danger">{{ msg | safe }}</span>
            {% endif %} 
          {% else %}  
            <p class="category">Please Select Your Desired Settings</p>          
          {% endif %}  
        </h6>      
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label>Location</label>
              <div class="form-group {{'has-danger' if error_dict['location'] }}">
                <input type="text" class="form-control form-{{ current_user.ui_color }} {{'form-control-danger' if error_dict['location'] }}" id="location" name="location" placeholder="Patras" value="">
              </div>
            </div>
          </div>
        </div>       
        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label>Type</label>
              <div class="form-group {{'has-danger' if error_dict['type'] }}">
                <input type="text" class="form-control form-{{ current_user.ui_color }} {{'form-control-danger' if error_dict['type'] }}" id="type" name="type" placeholder="Bar" value="{{ current_user.settings_type1 }}">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-check">           
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="save_places" name="save_places" value="" {{'checked' if current_user.settings_save_places }}>
                Save all Found Places to My Places
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
              </label>
            </div> 
          </div>
        </div>  
      </div>

      <div class="card-footer">
        <div id="searchdiv" class="btn-group">        
          {% if current_user.premium_enabled == False %}
          <button type="submit" id="search" name="search" class="btn btn-fill btn-fill-less-wide btn-{{ current_user.ui_button }}">Search &nbsp;<span class="badge badge-default">Free: {{ current_user.free_runs_remaining }}</span></button>
          {% else %}
          <button type="submit" id="search" name="search" class="btn btn-fill btn-fill-less-wide btn-{{ current_user.ui_button }}">Search</button>
          {% endif %}
          <button type="button" id="searchdropdown" class="btn dropdown-toggle dropdown-toggle-split btn-{{ current_user.ui_button }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div id="dropdownmenu" class="dropdown-menu {% if current_user.ui_theme == 'dark' %}dropdown-black{% endif %}">
            <a class="dropdown-item" href="/search">Basic Search</a>
            <a class="dropdown-item" href="/search-advanced">Advanced Search</a>            
          </div>
        </div>

        <button id="help" name="help" class="btn btn-simple btn-{{ current_user.ui_button }}" onclick="return false;" data-toggle="modal" data-target=".bd-example-modal-lg">Help</button>  <!-- Button trigger modal -->    
      </div>

      <div id="progressbar" class="progress" style="display: none; height: 7px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-{{ current_user.ui_button }}" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
      </div> 

      </form>
      {% endif %}
      
    </div>
  </div>
</div>

<div class="row">
  <div id="mymapDiv" class="col-md-12">
    <div class="card">
      <div id="mymapWrapper" class="card-body" style="height:450px;">
        <div id="mymap" style="position: absolute;">

        </div>
      </div>
    </div>          
  </div>
</div>

{% if current_user.premium_enabled == True or current_user.free_runs_remaining > 0 %}
<div class="row justify-content-center">
  <div class="col-12 col-md-8 col-sm-10">     
    <div class="card card-nav-tabs">
      <div class="card-body" style="padding-bottom: 15px;">
        <blockquote class="blockquote mb-0">
          <footer class="blockquote-footer">A Strange Game. The only winning Move is not to Play. How about a nice game of Chess?</footer>
        </blockquote>
      </div>
    </div>
  </div> 
</div>  
{% endif %} 

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin="">
  </script>

  <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>

  <script src='/static/assets/js/plugins/wicket.min.js'></script>
  <script src='/static/assets/js/plugins/wicket-leaflet.min.js'></script>  

  <script>
    {% if current_user.ui_color == "blue" %}
      const map_polygon_color = "#1d8cf8";
    {% elif current_user.ui_color == "green" %}    
      const map_polygon_color = "#00f2c3";
    {% else %}  
      const map_polygon_color = "#e14eca";
    {% endif %}

    $('#type1').val('{{ current_user.settings_type1 }}');
    $('#type2').val('{{ current_user.settings_type2 }}');

    $(document).ready(function () {    
      $('.navbar-sidenav [data-toggle="tooltip"]').tooltip({
        template: '<div class="tooltip navbar-sidenav-tooltip" role="tooltip" style="pointer-events: none;"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
      })
    
      $('[data-toggle="tooltip"]').tooltip()       
    });

    $('#search').click(function() { 
      $('#progressbar').slideDown(); 
    });

    var map_point = [[40.76299881753538, -73.98088709849752]]; 
    var map_polygon_geotext = "POLYGON ((30 10, 10 20, 20 40, 40 40, 30 10))";

    const mymapDiv = document.getElementById("mymapWrapper");
    var mymap = L.map('mymap');
    mymap.addControl(new L.Control.Fullscreen());

    var bounds = new L.LatLngBounds(map_point);
    mymap.fitBounds(bounds, {padding: [25, 25], maxZoom: 7});

    var base_layer = L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
      attribution: '',
      maxZoom: 21,
      id: 'mapbox/streets-v11',
      tileSize: 512,
      zoomOffset: -1,
      accessToken: 'pk.eyJ1Ijoic3B5c3B5IiwiYSI6ImNrdWlsYmdlYTBiMzIyb3J2cWE2OTFkeTcifQ.x57KR5oPClk_d8Npnwh75Q'
    }).addTo(mymap);

    const resizeObserver = new ResizeObserver(() => {
      var parent_height = 420;  // 450 - 2*15px padding      
      var parent_width = $("#mymap").closest('#mymapWrapper').width();
      $("#mymap").height(parent_height);
      $("#mymap").width(parent_width);
      mymap.invalidateSize();
    });
    
    resizeObserver.observe(mymapDiv);

    // Map
    $.ajax({
      type: "POST",
      data: { },
      url: "/get-search-map"
    }).done(function(data) {
        if (data[0]["search_lat"]) {
          console.log(data);
          console.log(data[0]["search_lat"]);
          console.log('success'); 
          
          map_point = [[parseFloat(data[0]["search_lat"]), parseFloat(data[0]["search_lon"])]];

          console.log(map_point);

          // https://gis.stackexchange.com/a/162858
          var wicket  = new Wkt.Wkt();
          wicket.read(data[0]["search_wkt"]);

          var polygon = wicket.toObject({
                                        color: map_polygon_color,
                                        strokeColor: map_polygon_color,
                                        strokeOpacity: 0.8,
                                        strokeWeight: 2,
                                        fillColor: map_polygon_color,
                                        fillOpacity: 0.35
                                      });
          var marker = L.marker(map_point[0]).bindPopup("Test");


          L.layerGroup([marker]).addTo(mymap);
          L.layerGroup([polygon]).addTo(mymap);          
          
          bounds = new L.LatLngBounds(map_point);
          mymap.getRenderer(mymap).options.padding = 100;  // Significantly affects Performance but forces the Renderer to instantly Render the Polygon when Panning Begins          
          mymap.flyToBounds(bounds, {padding: [25, 25], maxZoom: 9, duration: 3});

        }
    }).fail(function() {
    }).always(function() {
        // Schedule the next request after this one completes,
        // even after error
        //console.log('Waiting ' + (storiesInterval / 1000) + ' seconds');
        //setTimeout(fetchNews, storiesInterval);
    });

    helpers.showNotification('top','center', '{{ to_notify_premium }}', 'Your <b>Premium Subscription</b> has been Enabled!')
    helpers.showNotification('top','center', '{{ to_notify }}', 'Hint: Re-type the Values in <font color="#ec250d">Red</font>.')
  </script>

{% endblock javascripts %}
