{% extends "layouts/base.html" %}

{% block title %} Search {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
  select option {
    background: rgba(39, 41, 61, 1);
    color: rgb(255, 255, 255);
  }

</style>

{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">

      {% if current_user.premium_enabled == 0 and current_user.free_runs_remaining < 1 %}
      <div class="card-nav-tabs text-center">
        <div class="card-header card-header-primary">
          Warning
        </div>
        <div class="card-body">
          <h4 class="card-title">You have no free runs remaining!</h4>
          <p class="card-text">Contact me at:</p>
          <a target="_blank" href="https://github.com/spykard" class="btn btn-primary">GitHub</a>
        </div>
        <div class="card-footer text-muted">
          A Strange Game. The only winning Move is not to Play. How about a nice game of Chess?
        </div>
      </div>

      {% else %}
      <form role="form" method="post" action="">

      <!-- Bug Fix: https://stackoverflow.com/a/42874365 -->
      {{ form.hidden_tag() }} 

      <div class="card-header">
        <h4 class="title">Search Settings</h4>

        <h6 class="card-category">
          {% if msg %}
            <span class="text-danger">{{ msg | safe }}</span>
          {% endif %}  
        </h6>      
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-group" data-toggle="tooltip" data-placement="top" title="The API Key is provided automatically for now">
              <label>API Key</label>
              <input type="text" class="form-control" id="api_key" name="api_key" readonly="" placeholder="API Key" value="{{ current_user.google_api_key }}">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Location Point 1 (South-West Limiter)</label>
              <div class="form-group {{'has-danger' if error_dict['p1'] }}">
                <input type="text" class="form-control {{'form-control-danger' if error_dict['p1'] }}" id="p1" name="p1" placeholder="37.97167348129716, 23.725863560047166" value="{{ current_user.settings_p1 }}">
              </div>
            </div>
          </div>
          <div class="col-md-6 pl-md-1">
            <div class="form-group">
              <label>Location Point 2 (North-East Limiter)</label>
              <div class="form-group {{'has-danger' if error_dict['p2'] }}">
                <input type="text" class="form-control {{'form-control-danger' if error_dict['p2'] }}" id="p2" name="p2" placeholder="37.99046797819195, 23.755371160365122" value="{{ current_user.settings_p2 }}">
              </div>
            </div>
          </div>
        </div>        
        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label>Density Radius (Meters)</label>
              <div class="form-group {{'has-danger' if error_dict['radius'] }}">
                <input type="number" class="form-control {{'form-control-danger' if error_dict['radius'] }}" id="radius" name="radius" placeholder="180" value="{{ current_user.settings_radius }}">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label>Type 1</label>
              <div class="form-group {{'has-danger' if error_dict['type1'] }}">
                <select type="text" class="form-control" id="type1" name="type1">
                  <option>Choose...</option>
                  <option>Bar</option>
                  <option>Night Club</option>
                  <option>Restaurant</option>
                  <option>Cafe</option>
                  <option>Bakery</option>
                  <option>Food</option>
                  <option>Subway Station</option>
                  <option>Gas Station</option>
                  <option>Bank</option>
                  <option>Pharmacy</option>
                  <option>Health</option>
                  <option>Place of Worship</option>
                  <option>Department Store</option>
                  <option>Establishment</option>
                  <option>University</option>
                  <option>Library</option>
                  <option>Book Store</option>
                  <option>Gym</option>
                  <option>Clothing Store</option>
                  <option>Casino</option>
                  <option>Liquor Store</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label>Type 2</label>
              <div class="form-group {{'has-danger' if error_dict['type2'] }}">            
                <select type="text" class="form-control" id="type2" name="type2">
                  <option>Choose...</option>
                  <option>Bar</option>
                  <option>Night Club</option>
                  <option>Restaurant</option>
                  <option>Cafe</option>
                  <option>Bakery</option>
                  <option>Food</option>
                  <option>Subway Station</option>
                  <option>Gas Station</option>
                  <option>Bank</option>
                  <option>Pharmacy</option>
                  <option>Health</option>
                  <option>Place of Worship</option>
                  <option>Department Store</option>
                  <option>Establishment</option>
                  <option>University</option>
                  <option>Library</option>
                  <option>Book Store</option>
                  <option>Gym</option>
                  <option>Clothing Store</option>
                  <option>Casino</option>
                  <option>Liquor Store</option>
                </select>
              </div>  
            </div>
          </div>          
        </div>        
      </div>
      
      <div class="card-footer">
        {% if current_user.premium_enabled == 0 %}
        <button type="submit" name="search" class="btn btn-fill btn-primary">Search<span class="badge badge-default">Free: {{ current_user.free_runs_remaining }}</span></button>
        {% else %}
        <button type="submit" name="search" class="btn btn-fill btn-primary">Search</button>
        {% endif %}
        <!-- Modal -->
        <button class="btn btn-primary btn-simple" onclick="return false;" data-toggle="modal" data-target=".bd-example-modal-lg">Help</button>
        <div class="modal modal-black fade bd-example-modal-lg" id="tempUseless" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header justify-content-center">
                <h5 class="modal-title title title-up" id="modalLongTitle">Help</h5>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                  <i class="tim-icons icon-simple-remove"></i>
                </button>
              </div>
              <div class="modal-body">
                <p>This application lets you search for place information, particularly <b>popularity</b> and <b>traffic</b> data, based on proximity while using a variety of categories, including shops, establishments and prominent points of interest.</p>
                <hr>
                <div class="card card-plain">
                  <div class="card-header">
                    <h4 class="card-title"> Search Parameters</h4>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="table tablesorter " id="">
                        <thead class=" text-primary">
                          <tr>
                            <th>
                              Name
                            </th>
                            <th>
                              Country
                            </th>
                            <th>
                              City
                            </th>
                            <th class="text-center">
                              Salary
                            </th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>
                              Dakota Rice
                            </td>
                            <td>
                              Niger
                            </td>
                            <td>
                              Oud-Turnhout
                            </td>
                            <td class="text-center">
                              $36,738
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Minerva Hooper
                            </td>
                            <td>
                              Curaçao
                            </td>
                            <td>
                              Sinaai-Waas
                            </td>
                            <td class="text-center">
                              $23,789
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Sage Rodriguez
                            </td>
                            <td>
                              Netherlands
                            </td>
                            <td>
                              Baileux
                            </td>
                            <td class="text-center">
                              $56,142
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Philip Chaney
                            </td>
                            <td>
                              Korea, South
                            </td>
                            <td>
                              Overland Park
                            </td>
                            <td class="text-center">
                              $38,735
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Doris Greene
                            </td>
                            <td>
                              Malawi
                            </td>
                            <td>
                              Feldkirchen in Kärnten
                            </td>
                            <td class="text-center">
                              $63,542
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Mason Porter
                            </td>
                            <td>
                              Chile
                            </td>
                            <td>
                              Gloucester
                            </td>
                            <td class="text-center">
                              $78,615
                            </td>
                          </tr>
                          <tr>
                            <td>
                              Jon Porter
                            </td>
                            <td>
                              Portugal
                            </td>
                            <td>
                              Gloucester
                            </td>
                            <td class="text-center">
                              $98,615
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>

    </form>
      {% endif %}
      
    </div>
  </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $(document).ready(function () {    
      $('.navbar-sidenav [data-toggle="tooltip"]').tooltip({
        template: '<div class="tooltip navbar-sidenav-tooltip" role="tooltip" style="pointer-events: none;"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
      })
    
      $('[data-toggle="tooltip"]').tooltip()

      $('#type1').val('{{ current_user.settings_type1 }}');
      $('#type2').val('{{ current_user.settings_type2 }}');
    });

    demo.showNotification('top','center', '{{ to_notify }}', 'Hint: Re-type the Values in <font color="#ec250d">Red</font>.')
  </script>

{% endblock javascripts %}
