{% extends "layouts/base.html" %}

{% block title %} Search Advanced {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

<style>
  code {
    word-break: normal
  }

  .btn.dropdown-toggle[data-toggle="dropdown"] {
    margin-top: 4px;
    margin-bottom: 4px;
    margin-left: -1px;
  }

  .badge.badge-default {
    display: inline-block;
  } 
  
  .btn-group>.btn+.dropdown-toggle-split {  
    padding-left: 0px;
  } 

  .btn.btn-fill.btn-less-wide {  
    padding-right: 32px;
    padding-left: 32px;
  }  

  .modal-fix-position {
  top: -30.7vh;
  }    
</style>

{% endblock stylesheets %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="card">

      {% if current_user.premium_enabled == 0 and current_user.free_runs_remaining < 1 %}
      <div class="card-nav-tabs text-center">
        <div class="card-header card-header-primary">
          Warning
        </div>
        <div class="card-body">
          <h4 class="card-title">You have no free runs remaining!</h4>
          <p class="card-text">Contact me at:</p>
          <a id="contactmebutton" target="_blank" href="https://github.com/spykard" class="btn btn-{{ current_user.ui_button }}">GitHub</a>
        </div>
        <div class="card-footer text-muted">
          A Strange Game. The only winning Move is not to Play. How about a nice game of Chess?
        </div>
      </div>

      {% else %}
      <form role="form" method="post" action="">

      <!-- Bug Fix: https://stackoverflow.com/a/42874365 -->
      {{ form.hidden_tag() }} 

      <div class="card-header">
        <h4 class="title">Search Settings</h4>

        <h6 class="card-category">
          {% if msg %}
            {% if success %}
            <span class="text-success">{{ msg | safe }}</span>
            {% else %} 
            <span class="text-danger">{{ msg | safe }}</span>
            {% endif %} 
          {% endif %}  
        </h6>      
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-group">           
              <label>API Key</label>            
              <div id="apikey" class="form-group {{'has-danger' if error_dict['api_key'] }}">
                <input type="text" class="form-control form-{{ current_user.ui_color }} {{'form-control-danger' if error_dict['api_key'] }}" id="api_key" name="api_key" placeholder="API Key" value="{{ current_user.google_api_key }}">
              </div>
            </div> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Location Point 1 (South-West Limiter)</label>
              <div class="form-group {{'has-danger' if error_dict['p1'] }}">
                <input type="text" class="form-control form-{{ current_user.ui_color }} {{'form-control-danger' if error_dict['p1'] }}" id="p1" name="p1" placeholder="37.97167348129716, 23.725863560047166" value="{{ current_user.settings_p1 }}">
              </div>
            </div>
          </div>
          <div class="col-md-6 pl-md-1">
            <div class="form-group">
              <label>Location Point 2 (North-East Limiter)</label>
              <div class="form-group {{'has-danger' if error_dict['p2'] }}">
                <input type="text" class="form-control form-{{ current_user.ui_color }} form-{{current_user.ui_color}} {{'form-control-danger' if error_dict['p2'] }}" id="p2" name="p2" placeholder="37.99046797819195, 23.755371160365122" value="{{ current_user.settings_p2 }}">
              </div>
            </div>
          </div>
        </div>        
        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label>Density Radius (Meters)</label>
              <div class="form-group {{'has-danger' if error_dict['radius'] }}">
                <input type="number" class="form-control form-{{ current_user.ui_color }} {{'form-control-danger' if error_dict['radius'] }}" id="radius" name="radius" placeholder="180" value="{{ current_user.settings_radius }}">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label>Type 1</label>
              <div class="form-group {{'has-danger' if error_dict['type1'] }}">
                <select type="text" class="form-control form-{{ current_user.ui_color }} {% if current_user.ui_theme == 'dark' %}dark-content{% endif %}" id="type1" name="type1">
                  <option>Choose...</option>
                  <option>Bar</option>
                  <option>Night Club</option>
                  <option>Restaurant</option>
                  <option>Cafe</option>
                  <option>Bakery</option>
                  <option>Food</option>
                  <option>Subway Station</option>
                  <option>Gas Station</option>
                  <option>Bank</option>
                  <option>Pharmacy</option>
                  <option>Health</option>
                  <option>Place of Worship</option>
                  <option>Department Store</option>
                  <option>Establishment</option>
                  <option>University</option>
                  <option>Library</option>
                  <option>Book Store</option>
                  <option>Gym</option>
                  <option>Clothing Store</option>
                  <option>Casino</option>
                  <option>Liquor Store</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4 pr-md-1">
            <div class="form-group">
              <label>Type 2</label>
              <div class="form-group {{'has-danger' if error_dict['type2'] }}">            
                <select type="text" class="form-control form-{{ current_user.ui_color }} {% if current_user.ui_theme == 'dark' %}dark-content{% endif %}" id="type2" name="type2">
                  <option>Choose...</option>
                  <option>Bar</option>
                  <option>Night Club</option>
                  <option>Restaurant</option>
                  <option>Cafe</option>
                  <option>Bakery</option>
                  <option>Food</option>
                  <option>Subway Station</option>
                  <option>Gas Station</option>
                  <option>Bank</option>
                  <option>Pharmacy</option>
                  <option>Health</option>
                  <option>Place of Worship</option>
                  <option>Department Store</option>
                  <option>Establishment</option>
                  <option>University</option>
                  <option>Library</option>
                  <option>Book Store</option>
                  <option>Gym</option>
                  <option>Clothing Store</option>
                  <option>Casino</option>
                  <option>Liquor Store</option>
                </select>
              </div>  
            </div>
          </div>          
        </div> 
        <div class="row">
          <div class="col-md-4 pr-md-1">
            <div class="form-check">           
              <label class="form-check-label">
                <input type="checkbox" class="form-check-input" id="all_places" name="all_places" value="" {{'checked' if current_user.settings_all_places }}>
                All Places
                <span class="form-check-sign">
                    <span class="check"></span>
                </span>
              </label>
            </div> 
          </div>
        </div>  
      </div>

      <div class="card-footer">
        <div id="searchdiv" class="btn-group">        
          {% if current_user.premium_enabled == 0 %}
          <button type="submit" id="search" name="search" class="btn btn-fill btn-fill-less-wide btn-{{ current_user.ui_button }}">Search &nbsp;<span class="badge badge-default" disabled>Free: {{ current_user.free_runs_remaining }}</span></button>
          {% else %}
          <button type="submit" id="search" name="search" class="btn btn-fill btn-fill-less-wide btn-{{ current_user.ui_button }}" disabled>Search</button>
          {% endif %}
          <button type="button" id="searchdropdown" class="btn dropdown-toggle dropdown-toggle-split btn-{{ current_user.ui_button }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div id="dropdownmenu" class="dropdown-menu {% if current_user.ui_theme == 'dark' %}dropdown-black{% endif %}">
            <a class="dropdown-item" href="/search">Basic Search</a>
          </div>
        </div>

        <button id="help" name="help" class="btn btn-simple btn-{{ current_user.ui_button }}" onclick="return false;" data-toggle="modal" data-target=".bd-example-modal-lg">Help</button>  <!-- Button trigger modal -->
        <button class="btn btn-simple btn-simple-less-wide btn-{{ current_user.ui_button }}" onclick="location.href='/places'; return false;">
          <i class="tim-icons icon-simple-add"></i>
        </button>      
      </div>

    </form>
      {% endif %}
      
    </div>
  </div>
</div>

<!-- Modal -->        
<div class="modal {% if current_user.ui_theme == 'dark' %}modal-black{% endif %} fade bd-example-modal-lg" id="tempUseless" tabindex="-1" role="dialog" aria-labelledby="modalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-fix-position modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header justify-content-center">
        <h5 class="modal-title title title-up" id="modalLongTitle">Help</h5>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
          <i class="tim-icons icon-simple-remove"></i>
        </button>
      </div>
      <div class="modal-body">
        <p>This application gives you the ability to search Google's <a target="_blank" href="https://support.google.com/business/answer/6263531">popular times</a> information, particularly <b>popularity</b> and <b>crowd traffic</b> information. The search is executed based on proximity to a given location, while additionally providing options for a variety of categories, including shops, establishments and prominent points of interest.</p>
        <hr>
        <div class="card card-plain">
          <div class="card-header">
            <h4 class="card-title"> Search Parameters</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table tablesorter " id="">
                <thead class=" text-primary">
                  <tr>
                    <th>
                      Parameter
                    </th>
                    <th>
                      Type
                    </th>
                    <th>
                      Explanation
                    </th>
                    <th class="text-center">
                      Suggested Value
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      API Key
                    </td>
                    <td>
                      <code>string</code>
                    </td>
                    <td>
                      A general API key for Google's Web Service. All the required services have been enabled. The user could easily utilize his own key but for now the API key is provided automatically.
                    </td>
                    <td class="text-center">
                      <code>Default</code>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Location Point 1
                    </td>
                    <td>
                      <code>latitude, longtitude</code>
                    </td>
                    <td>
                      Two numeric values in the form of <code>(latitude, longtitude)</code> which represent the first point delimiting the search area; e.g. (37.971673, 23.725863). In particular, this is the <b>South-West/Bottom-Left</b> delimiting point of the area that the user wants to search in.
                    </td>
                    <td class="text-center">
                      <code>37.971673, 23.725863</code>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Location Point 2
                    </td>
                    <td>
                      <code>latitude, longtitude</code>
                    </td>
                    <td>
                      Identical to the previous parameter. It is effectively the <b>North-East/Top-Right</b> delimiting point of the area that the user wants to search in.
                    </td>
                    <td class="text-center">
                      <code>37.990467, 23.755371</code>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Density Radius
                    </td>
                    <td>
                      <code>numeric</code>
                    </td>
                    <td>
                      A numeric value in the form of <b>meters</b> refering to the density that the Radar will use while searching. It does <b>not</b> represent the size of the circle that the user wants to search in. With a maximum (and default) value of up to 50,000 for radar search, a value of 180 has been chosen and adapted to very dense city areas.
                    </td>
                    <td class="text-center">
                      <code>180(m) for Cities</code>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Type 1
                    </td>
                    <td>
                      <code>dropdown option</code>
                    </td>
                    <td>
                      Simply put, the type of Place the User wants to Search for, whether that is a bar or a clothing store.
                    </td>
                    <td class="text-center">
                      <code>Bar</code>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Type 2
                    </td>
                    <td>
                      <code>dropdown option</code>
                    </td>
                    <td>
                      Additional Place type to include in the search; fully optional.
                    </td>
                    <td class="text-center">
                      <code>None</code>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      All Places
                    </td>
                    <td>
                      <code>boolean</code>
                    </td>
                    <td>
                      An option to include Places in the results that do not feature any popular times information.
                    </td>
                    <td class="text-center">
                      <code>Off</code>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

  <script>
    $('#type1').val('{{ current_user.settings_type1 }}');
    $('#type2').val('{{ current_user.settings_type2 }}');

    $(document).ready(function () {    
      $('.navbar-sidenav [data-toggle="tooltip"]').tooltip({
        template: '<div class="tooltip navbar-sidenav-tooltip" role="tooltip" style="pointer-events: none;"><div class="arrow"></div><div class="tooltip-inner"></div></div>'
      })
    
      $('[data-toggle="tooltip"]').tooltip()

      var template = '<div class="tooltip {% if current_user.ui_theme == 'light' %}bs-tooltip-top-white{% endif %}" role="tooltip"><div class="arrow"></div><div class="tooltip-inner {% if current_user.ui_theme == 'light' %}tooltip-inner-white{% endif %}"></div></div>';        
      $('#apikey').tooltip({template: template, title: "The API Key is not provided automatically for now"});     
      $('#searchdiv').tooltip({template: template, title: "Advanced Search is disabled for now"});          
    });

    demo.showNotification('top','center', '{{ to_notify_premium }}', 'Your <b>Premium Subscription</b> has been Enabled!')
    demo.showNotification('top','center', '{{ to_notify }}', 'Hint: Re-type the Values in <font color="#ec250d">Red</font>.')
  </script>

{% endblock javascripts %}
