{% extends "layouts/base.html" %}

{% block title %} Recover Password {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-8">
      <div class="card">

        <form role="form" method="post" action="">
        
          {{ form.hidden_tag() }} 

          <div class="card-header">
            <h4 class="title">Recover Password</h4>

            <h6 class="card-category">
                {% if msg %}
                  {% if success %}
                  <span class="text-{% if current_user.is_authenticated %}{{current_user.ui_button}}{% else %}info{% endif %}">{{ msg | safe }}</span>
                  {% else %} 
                  <span class="text-danger">{{ msg | safe }}</span>
                  {% endif %} 
                {% else %}  
                <span>
                  Please Input your Account's E-mail
                </span>
                {% endif %}  
            </h6>
          </div>

          <div class="card-body">

            <div class="row">
              <div class="col-md-5 px-md-1">
                <div class="form-group">
                  <label>&nbsp;Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text form-{% if current_user.is_authenticated %}{{current_user.ui_color}}{% else %}blue{% endif %}">
                          <i class="fas fa-envelope"></i>
                      </div>      
                    </div>                    
                    <input type="email" class="form-control form-{% if current_user.is_authenticated %}{{current_user.ui_color}}{% else %}blue{% endif %}" id="email" name="email" required="" value="{{ form.email.data }}"> 
                  </div>
                </div>
              </div>
            </div>
           
          </div>

          <div class="card-footer">
            <button type="submit" id="recover" name="recover" class="btn btn-fill btn-{% if current_user.is_authenticated %}{{current_user.ui_button}}{% else %}info{% endif %}">Recover</button>
          </div>

        </form>

      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
