{% extends "layouts/base.html" %}

{% block title %} Register {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="row">
    <div class="col-md-8">
      <div class="card">

        <form role="form" method="post" action="">
        
          {{ form.hidden_tag() }} 

          <div class="card-header">
            <h4 class="title">Register</h4>

            <h6 class="card-category">
                {% if msg %}
                  <span class="text-danger">{{ msg | safe }}</span>
                {% else %}
                  Submit your credentials
                {% endif %}  
            </h6>
          </div>

          <div class="card-body">

              <div class="row">
                <div class="col-md-3 px-md-1">
                  <div class="form-group">
                    <label>&nbsp;Username</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-user"></i>
                        </div>      
                      </div>                    
                      {{ form.username(class="form-control") }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 px-md-1">
                  <div class="form-group">
                    <label>&nbsp;Email</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-envelope"></i>
                        </div>      
                      </div>                    
                      {{ form.email(class="form-control", type="email") }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-3 px-md-1">
                  <div class="form-group">
                    <label>&nbsp;Password</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                          <div class="input-group-text">
                            <i class="fas fa-key"></i>
                        </div>      
                      </div>                    
                      {{ form.password(class="form-control", type="password") }}
                    </div>
                  </div>
                </div>
              </div>
              
          </div>
          <div class="card-footer">
            <button type="submit" name="register" class="btn btn-fill btn-primary">Register</button>
            &nbsp; &nbsp;
            Have an account? <a href="{{ url_for('base_blueprint.login') }}" class="text-primary">Login</a>
          </div>

        </form>

      </div>
    </div>
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
