{% extends "layouts/base.html" %}

{% block title %} Password Recovery Error {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card card-profile">
                <div class="card-body">
                    <h6 class="card-category text-gray">Password Recovery Error</h6>
                    <h4 class="card-title">
                        Password Recovery Denied - Invalid Password Reset Request
                    </h4>
                    <a href="/login" class="btn btn-{% if current_user.is_authenticated %}{{current_user.ui_button}}{% else %}info{% endif %} btn-round">Login</a>
                </div>
            </div>
        </div>
    </div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
