
  <script>
    $(document).ready(function() {
      $().ready(function() {
        $sidebar = $('.sidebar');
        $navbar = $('.navbar');
        $main_panel = $('.main-panel');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');
        sidebar_mini_active = true;
        white_color = false;

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();



        $('.fixed-plugin a').click(function(event) {
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .background-color span').click(function() {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if (new_color == "primary") {
            var new_button_color = 'primary';}
          else if (new_color == "green") {
            var new_button_color = 'success';} 
          else {
            var new_button_color = 'info';}        

          if ($sidebar.length != 0) {
            $sidebar.attr('data', new_color);
          }

          if ($main_panel.length != 0) {
            $main_panel.attr('data', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data', new_color);
          }

          // Specific Visual Fix just for some Special Buttons
          $login_button = $('#login');
          $register_button = $('#register');
          $recover_button = $('#recover');          
          $login_link = $('#pagelink');
          $forgot_link = $('#forgotlink');          
          $save_button = $('#save');
          $search_button = $('#search');
          $search_button_dropdown = $('#searchdropdown');            
          $help_button = $('#help');                   
          $graph_button0 = $('#0');
          $graph_button1 = $('#1');
          $graph_button2 = $('#2');                    
          $select_city_button = $('[name="selectcitybutton"]');
          $contact_me_button = $('#contactmebutton');   
          $progress_bar = $('#progressbar');
          $grid_view_button = $('#gridView');
          $table_view_button = $('#tableView'); 
          $helptooltip2 = $('#helptooltip2');                  
          if ($login_button.length != 0) {
            $lastClass = $login_button.attr('class').split(' ').pop();
            $login_button.removeClass($lastClass);
            $login_button.addClass('btn-' + new_button_color);
          }  
          if ($register_button.length != 0) {
            $lastClass = $register_button.attr('class').split(' ').pop();
            $register_button.removeClass($lastClass);
            $register_button.addClass('btn-' + new_button_color);                    
          } 
          if ($recover_button.length != 0) {
            $lastClass = $recover_button.attr('class').split(' ').pop();
            $recover_button.removeClass($lastClass);
            $recover_button.addClass('btn-' + new_button_color);                    
          }                       
          if ($login_link.length != 0) {
            $lastClass = $login_link.attr('class').split(' ').pop();
            $login_link.removeClass($lastClass);
            $login_link.addClass('text-' + new_button_color);                    
          }
          if ($forgot_link.length != 0) {
            $lastClass = $forgot_link.attr('class').split(' ').pop();
            $forgot_link.removeClass($lastClass);
            $forgot_link.addClass('text-' + new_button_color);                    
          }          
          if ($save_button.length != 0) {
            $lastClass = $save_button.attr('class').split(' ').pop();
            $save_button.removeClass($lastClass);
            $save_button.addClass('btn-' + new_button_color);                    
          }  
          if ($search_button.length != 0) {
            $lastClass = $search_button.attr('class').split(' ').pop();
            $search_button.removeClass($lastClass);
            $search_button.addClass('btn-' + new_button_color);                    
          }
          if ($search_button_dropdown.length != 0) {
            $lastClass = $search_button_dropdown.attr('class').split(' ').pop();
            $search_button_dropdown.removeClass($lastClass);
            $search_button_dropdown.addClass('btn-' + new_button_color);                    
          }               
          if ($help_button.length != 0) {
            $lastClass = $help_button.attr('class').split(' ').pop();
            $help_button.removeClass($lastClass);
            $help_button.addClass('btn-' + new_button_color);                    
          }                    
          if ($graph_button0.length != 0) {
            $firstClass = $graph_button0.attr('class').split(' ')[0];
            $graph_button0.removeClass($firstClass);
            $graph_button0.attr('class', 'btn-' + new_button_color + ' ' + $graph_button0.attr('class'));                  
          } 
          if ($graph_button1.length != 0) {
            $firstClass = $graph_button1.attr('class').split(' ')[0];
            $graph_button1.removeClass($firstClass);
            $graph_button1.attr('class', 'btn-' + new_button_color + ' ' + $graph_button1.attr('class'));                  
          } 
          if ($graph_button2.length != 0) {
            $firstClass = $graph_button2.attr('class').split(' ')[0];
            $graph_button2.removeClass($firstClass);
            $graph_button2.attr('class', 'btn-' + new_button_color + ' ' + $graph_button2.attr('class'));                  
          } 
          if ($select_city_button.length != 0) {
            $lastClass = $select_city_button.attr('class').split(' ').pop();
            $select_city_button.removeClass($lastClass);
            $select_city_button.addClass('btn-' + new_button_color);                    
          }  
          if ($contact_me_button.length != 0) {
            $lastClass = $contact_me_button.attr('class').split(' ').pop();
            $contact_me_button.removeClass($lastClass);
            $contact_me_button.addClass('btn-' + new_button_color);                    
          }       
          if ($progress_bar.length != 0) {
            $lastClass = $progress_bar.attr('class').split(' ').pop();
            $progress_bar.removeClass($lastClass);
            $progress_bar.addClass('bg-' + new_button_color);                    
          }
          if ($grid_view_button.length != 0) {
            $firstClass = $grid_view_button.attr('class').split(' ')[0];
            $grid_view_button.removeClass($firstClass);
            $grid_view_button.attr('class', 'btn-' + new_button_color + ' ' + $grid_view_button.attr('class'));                  
          } 
          if ($table_view_button.length != 0) {
            $firstClass = $table_view_button.attr('class').split(' ')[0];
            $table_view_button.removeClass($firstClass);
            $table_view_button.attr('class', 'btn-' + new_button_color + ' ' + $table_view_button.attr('class'));                  
          }     
          if ($helptooltip2.length != 0) {
            $lastClass = $helptooltip2.attr('class').split(' ').pop();
            $helptooltip2.removeClass($lastClass);
            $helptooltip2.addClass('btn-' + new_button_color);                    
          }                                 

          $.ajax({
            type: 'POST',
            data: {
              color: new_color,
            },
            url: "/update-ui-color-preference",
            success: function(data){  
                     },
            error: function(data){    
                     },
          });          
        });

        $('.switch-sidebar-mini input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            sidebar_mini_active = false;
            blackDashboard.showSidebarMessage('Sidebar mini deactivated...');
          } else {
            $('body').addClass('sidebar-mini');
            sidebar_mini_active = true;
            blackDashboard.showSidebarMessage('Sidebar mini activated...');
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function() {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function() {
            clearInterval(simulateWindowResize);
          }, 1000);
        });

        $('.switch-change-color input').on("switchChange.bootstrapSwitch", function() {
          var $btn = $(this);

          if (white_color == true) {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').removeClass('white-content');
            }, 900);
            white_color = false;
          } else {

            $('body').addClass('change-background');
            setTimeout(function() {
              $('body').removeClass('change-background');
              $('body').addClass('white-content');
            }, 900);

            white_color = true;
          }


        });

        $('.light-badge').click(function() {
          $('body').addClass('white-content');
          $('.navbar-wrapper').removeClass('navbar-dark');  // Bug Fix
          $('.navbar-wrapper').addClass('navbar-light');

          // Specific Visual Fix just for some Special Buttons
          $search_button_dropdown = $('#dropdownmenu');                    
          if ($search_button_dropdown.length != 0) {
            $lastClass = $search_button_dropdown.attr('class').split(' ').pop();
            $search_button_dropdown.removeClass($lastClass);
            //$search_button_dropdown.addClass('btn-' + new_button_color);
          }  

          $.ajax({
            type: 'POST',
            data: {
              theme: 'light',
            },
            url: "/update-ui-theme-preference",
            success: function(data){  
                     },
            error: function(data){    
                     },
          });         
        });

        $('.dark-badge').click(function() {
          $('body').removeClass('white-content');
          $('.navbar-wrapper').removeClass('navbar-light');  // Bug Fix
          $('.navbar-wrapper').addClass('navbar-dark'); 

          // Specific Visual Fix just for some Special Buttons
          $search_button_dropdown = $('#dropdownmenu');                    
          if ($search_button_dropdown.length != 0) {
            $search_button_dropdown.addClass('dropdown-black');
          }  

          $.ajax({
            type: 'POST',
            data: {
              theme: 'dark',
            },
            url: "/update-ui-theme-preference",
            success: function(data){  
                     },
            error: function(data){    
                     },
          });          
        });

        $('#hidecolors').click(function() {
          $('.fixed-plugin').hide();

          $.ajax({
            type: 'POST',
            data: {
            },
            url: "/hide-colors",
            success: function(data){  
                     },
            error: function(data){    
                     },
          });          
        });        
      });
    });
  </script>
  