

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <!-- <div class="logo">
          <a target="_blank" rel="sponsored noopener noreferrer" 
             href="" class="simple-text logo-mini">
            P
          </a>
        </div> -->

        <ul class="nav">
        {% if current_user.is_authenticated %}

          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="{% if 'populartimes' in segment %} active {% endif %}">
            <a href="/populartimes">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Populartimes</p>
            </a>
          </li>
          <li class="{% if 'search' in segment %} active {% endif %}">
            <a href="/search">
              <i class="tim-icons icon-zoom-split"></i>
              <p>Search</p>
            </a>
          </li>            
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="/page-user">
              <i class="tim-icons icon-single-02"></i>
              <p>User Profile</p>
            </a>
          </li>
          <li class="{% if 'maps' in segment %} active {% endif %}">
            <a href="/ui-maps">
              <i class="tim-icons icon-pin"></i>
              <p>Maps</p>
            </a>
          </li>                   
          <li class="{% if 'icons' in segment %} active {% endif %}">
            <a href="/ui-icons">
              <i class="tim-icons icon-atom"></i>
              <p>Icons &nbsp;<code>DEV</code></p>
            </a>
          </li>

          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="/ui-notifications">
              <i class="tim-icons icon-bell-55"></i>
              <p>Notifications &nbsp;<code>DEV</code></p>
            </a>
          </li>
          <li class="{% if 'tables' in segment %} active {% endif %}">
            <a href="/ui-tables">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Table List &nbsp;<code>DEV</code></p>
            </a>
          </li>
          <li class="{% if 'typography' in segment %} active {% endif %}">
            <a href="/ui-typography">
              <i class="tim-icons icon-align-center"></i>
              <p>Typography &nbsp;<code>DEV</code></p>
            </a>
          </li>
          <li>
          <li class="{% if 'credits' in segment %} active {% endif %}">
            <a href="/credits">
              <i class="tim-icons icon-support-17"></i>
              <p>Credits</p>
            </a>
          </li>
          <li>            
            <a href="{{ url_for('base_blueprint.logout') }}" >
              <i class="tim-icons icon-button-power"></i>
              <p>Logout</p>
            </a>
          </li> 
          {% else %}
          <li>
            <a target="_blank" href="https://support.google.com/business/answer/6263531" >
              <p style="text-align:center">A powerful tool for (not so)<br>malicious means.</p>
            </a>
          </li>
          {% endif %}
                    
        </ul>
        
      </div>
    </div>
